<%- include layouts/header.ejs %>

        <div class="page-data">
         <div class="data-btn">
           <button onClick="addRecord();">+ Add</button>
         </div>
         <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th width="50px">No</th>
                    <th>Longitude</th>
                    <th>Latitude</th>
                    <th>Humidity</th>
                    <th>Temperature</th>
                    <th width="120px">Action</th>
                </tr>
                               
                <% if(data.length){ 
                                
                 for(var i = 0;i < data.length;i++) { %>
                 
                <tr>
                    <td><%=(i+1)%></td>
                    <td><%=data[i].longitude%></td>
                    <td><%=data[i].latitude%></td>
                    <td><%=data[i].humidity%></td>
                    <td><%=data[i].temperature%></td>
                    <td>
                        <a class="a-inside edit" href="../records/edit/<%=data[i].id%>">Edit</a>
                       
                        <a class="a-inside delete" href="../records/delete/<%=data[i].id%>">Delete</a>
                       
                    </td>
                </tr>
            <% }
            
             }else{ %>
                 <tr>
                    <td colspan="3">No record</td>
                 </tr>
            <% } %>
                
                              
                
            </table>
         </div>
        </div>
        
<%- include layouts/footer.ejs %>
